VITE_FIREBASE_API_KEY=<yourapikey>
VITE_FIREBASE_AUTH_DOMAIN=<yourauthdomain>
VITE_FIREBASE_PROJECT_ID=<yourprojectid>
VITE_FIREBASE_STORAGE_BUCKET=<yourstorage>
VITE_FIREBASE_MESSAGING_SENDER_ID=<yoursenderid>
VITE_FIREBASE_APP_ID=<yourappid>
VITE_FIREBASE_MEASUREMENT_ID=<yourmeasurementid>
